body{
    height: 100vh;
}


.spanHeader{
    font-weight: 600;
    font-size:30px;
    color: #000000;
    margin-bottom: 0px;
}

.dashSideElement{
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    display: inline-block;
    flex-shrink: 0;
}

.dashLarge{
    height: 750px;
    min-height: 750px;
}
.dashMed{
    min-height: 650px;
    height: 650px;
}
.dashSmall{
    min-height: 425px;
    height: 425px;
    margin-bottom: 10px;
}

.dashSubCont{
    display: block;
}

.dashHead{
    font-weight: bold;
    font-size: large;
}

#centralDashCont{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#dashLabel{
    text-align: center;
    margin: 0 0 1px 0;
    padding-bottom: 5px;
}

#spanContainer{
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

#dashboardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#innerDash{
    min-width: 950px;
    width: 57%;
    justify-content: space-between;
}

#notice{
    font-size: x-large;
    max-width: 310px;
    margin-top: 10px;
}

#audit{
    min-width: 400px;
    max-width: 400px;
    overflow-y: scroll;
}

/* .dashMidElement{
    min-width: 900px;
    min-height: 200px;
    padding: 5px;
    display: flex;
    margin: 0px 10px 0px 10px ;
} */