
{% extends 'base.html' %}

<!-- head -->
{% block head %}
<title>Remove Credentials</title>

<!-- Stylesheet -->
{% endblock %}

<!-- Body -->
{% block body %}

<div id="titleCont">
    <h1>Remove Credentials</h1>
</div>

    <table style="border: 1px;">
        <thead>
            <tr>
                <th>Account</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <form method="POST" style="display:inline;">
                {{ form.hidden_tag() }} 
                {{ form.masterPass(type="password", placeholder="Master Password", id="mp_{{ account.id }}") }}
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td><button type="submit" class="reveal_btn" name="entry_id" value="{{ account.id }}">Remove Credentials</button></td>
                        <input type="hidden" name="account_name" value="{{ account.name }}">                
                </tr>
            {% endfor %}
            </form>
        </tbody>
    </table>
    <div class="formBlock">
        <a href="{{ url_for('homepage') }}" class="center"><div class="formBlock dashBtn"> <p class="btnHeader">Return Home</p> </div></a>
    </div>

{% endblock %}


