{% extends 'base.html' %}

<!-- head -->
{% block head %}
<title>Login</title>

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Body -->
{% block body %}

<!-- Form -->
<form action="/login" method="post">

    {{ form.hidden_tag() }}

    {{ form.username(placeholder="username") }}
    <br>
    {{ form.password(type="password", placeholder="password") }}
    <br>
    {{ form.submit }}
    <a href=" {{ url_for('register') }}">Create an account</a>
    
    <!-- flash messages -->
    {% for message in get_flashed_messages() %}
    <span class="error_label">{{ message }}</span>
    {% endfor %}
</form>
{% endblock %}