{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Recover</title>

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Body -->
{% block body %}

<!-- Form -->
<form action="/recover" method="post">

    {{ form.hidden_tag() }}
    <div class="floatingContainer" id="container">
        <div class="formBlock">
            {{ form.email.label(class='Label') }}
            {{ form.email(placeholder="Email") }}
        </div>
        <div class="formBlock">
            {{ form.submit }}
        </div>
        <div class="formBlock">
            <a href=" {{ url_for('login') }}">Return to login</a>
        </div>
        <a href=" {{ url_for('register') }}">Create an account</a>
    </div>
    
    <!-- error messages -->
    <p>
        {% for message in get_flashed_messages() %}
            <span class="error_label">{{ message }}</span>
        {% endfor %}
    </p>
</form>
{% endblock %}