{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Register</title>

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Body -->
{% block body %}

<h1>Register</h1>

<!-- Form -->
<form action="/register" method="post">
    {{ form.hidden_tag() }}
    
    <div class="floatingContainer" id="container">
        <div class="formBlock">
            {{ form.username.label(class='Label') }}
            {{ form.username(placeholder='username') }}
        </div>

        <div class="formBlock">
            {{ form.email.label(class='Label') }}
            {{ form.email(placeholder='email') }}
        </div>

        <div class="formBlock">
            {{ form.password.label(class='Label') }}
            {{ form.password( type="password", placeholder='password') }}
        </div>

        <div class="formBlock">
            {{ form.confirmPass.label(class='Label') }}
            {{ form.confirmPass( type="password", placeholder='password') }}
        </div>
        
        <div class="formBlock">
            {{ form.submit }}
        </div>

        <a href="{{ url_for('login') }}"> Sign in to an existing account </a>
    </div>


        <!-- flash messages -->
    <div class="formBlock" style="padding-top: 10px;">
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <p class="error_label">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>

    {% for message in get_flashed_messages() %}
        <span class="error_label">{{ message }}</span>
    {% endfor %}

</form>


{% endblock %}