{% extends 'base.html' %}

<!-- head -->
{% block head %}
<title>Set MP</title>

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Body -->
{% block body %}

<div id="titleCont">
    <h1>Set your Master Password</h1>
</div>
<!-- Form -->
<form action="/setmp" method="post">

    {{ form.hidden_tag() }}
    <div class="floatingContainer" id="container">
        <div class="formBlock">
            {{ form.masterPass.label(class='Label') }}
            {{ form.masterPass(type="password", placeholder="password") }}
        </div>
        <div class="formBlock">
            {{ form.confirmPass.label(class='Label') }}
            {{ form.confirmPass(type="password", placeholder="password") }}
        </div>
        <div class="formBlock">
            {{ form.submit }}
        </div>
    </div>
    <!-- error messages -->
    <p>
        {% for message in get_flashed_messages() %}
            <span class="error_label">{{ message }}</span>
        {% endfor %}
    </p>
</form>
{% endblock %}